<nav class="header">
    <ul class="nav nav-tabs">
        <li role="presentation" <% if (title === 'Home') { %>class="active"<% } %>><a href="/">Home</a></li>
        <li role="presentation" <% if (title === 'Create') { %>class="active"<% } %>><a href="/create">Create</a></li>
        <li role="presentation" <% if (title === 'Update') { %>class="active"<% } %>><a href="/update">Update</a></li>
        <li role="presentation" <% if (title === 'Delete') { %>class="active"<% } %>><a href="/delete">Delete</a></li>
        <li role="presentation" <% if (title === 'Read') { %>class="active"<% } %>><a href="/read">Read</a></li>
    </ul>
</nav>