<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>

    <title><%= title %></title>

    <% include partials/head.ejs %>

    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/main.js"></script>

</head>
<body>

<% include partials/header.ejs %>

<div class="container create">

    <h1>Create</h1>

    <form id="write_form" method="post" action="/form">
        <div class="form-group">
            <label class="control-label">Type</label>
            <select class="form-control" name="codeType">
                <option>html</option>
                <option>css</option>
                <option>javascript</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Quiz</label>
            <input type="text" id="write_title" class="form-control" name="quiz" placeholder="Please enter a quiz.">
        </div>
        <div class="form-group">
            <label class="control-label">Exam 1</label>
            <textarea class="form-control" rows="4" name="exam1" placeholder="Enter content 1"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label">Exam 2</label>
            <textarea class="form-control" rows="4" name="exam2" placeholder="Enter content 2."></textarea>
        </div>
        <div class="form-group">
            <label class="control-label">Exam 3</label>
            <textarea class="form-control" rows="4" name="exam3" placeholder="Enter content 3."></textarea>
        </div>
        <div class="form-group">
            <input type="checkbox" class="agree_submit">
            <button type="submit" class="btn btn-primary" disabled>Complete</button>
        </div>
    </form>

</div>
<% include partials/google_analytic.ejs %>
</body>
</html>