<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>

    <title><%= title %></title>

    <% include partials/head.ejs %>

    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/main.js"></script>

</head>
<body>

<% include partials/header.ejs %>

<div class="container">

    <h1>Gogo!</h1>

</div>
<% include partials/google_analytic.ejs %>
</body>
</html>